#############################################
####  SWIO Run-Time Configuration File  #####
#############################################
#
#  Imported fields
#
import_fields::
 uvel
 vvel
 coszen
 scale_factor
 swvdr
 swvdf
 swidr
 swidf
 strocnxT
 strocnyT
 stressp_1
 stressp_2
 stressp_3
 stressp_4
 stressm_1
 stressm_2
 stressm_3
 stressm_4
 stress12_1
 stress12_2
 stress12_3
 stress12_4
 iceumask
 fsnow
 aicen
 vicen
 vsnon
 Tsfcn
 iage
 alvl
 vlvl
 apnd
 hpnd
 ipnd
 dhs
 ffrac
 sice001
 qice001
 sice002
 qice002
 sice003
 qice003
 sice004
 qice004
 sice005
 qice005
 sice006
 qice006
 sice007
 qice007
 qsno001
::
#
#  Output fields
#
#  List import fields to be written to file and set corresponding
#  output variable name (optional) using the following syntax:
#
#  <import_field_name>    [<output_variable_name>]
output_fields::
 uvel
 vvel
 coszen
 scale_factor
 swvdr
 swvdf
 swidr
 swidf
 strocnxT
 strocnyT
 stressp_1
 stressp_2
 stressp_3
 stressp_4
 stressm_1
 stressm_2
 stressm_3
 stressm_4
 stress12_1
 stress12_2
 stress12_3
 stress12_4
 iceumask
 fsnow
 aicen
 vicen
 vsnon
 Tsfcn
 iage
 alvl
 vlvl
 apnd
 hpnd
 ipnd
 dhs
 ffrac
 sice001
 qice001
 sice002
 qice002
 sice003
 qice003
 sice004
 qice004
 sice005
 qice005
 sice006
 qice006
 sice007
 qice007
 qsno001
::
#
#  Imported masking field
#
#import_mask_field: Si_mask 0.0 0.0
#
# Output create mode
#
# Supported modes are: clobber (default), preserve-links
# - clobber       : overwrite existing files (default)
# - preserve-links: do not overwrite linked output targets
#
output_create_mode: clobber
#
# Output file format.
#
# Choose from:
# - hdf5
# - pnetcdf or parallel-netcdf
#
output_format: pnetcdf
#
# Output datatype
#
# Supported datatypes for output variables are:
# - integer: write variables as integers
# - float  : write variables as real, single precision
# - double : write variables as real, double precision
# - native : write variables using their original type
#
output_datatype: native
#
# Output file prefix.
#
# Output file names are created as:
#   <prefix>.<datetime>.<suffix>
# where:
#   <prefix>   : is the string provided via
#                output_file_prefix keyword
#   <datetime> : imported field timestamp,
#                formatted as: YYYYMMDD_hhmmss
#   <suffix>   : determined from output format:
#                'hd5' for hdf5, 'nc' for pnetcdf
#
#output_file_prefix: ufsio_cice6
#
# Output metadata.
#
# Metadata can be added to output files as global
# string attributes created from <key> <value>
# row entries in the table below. If <value> is
# missing, it will be set to "N/A".
#
#output_metadata::
#  init_date     20210322_060000
#  start_date    20210322_060000
#  end_date      20210323_060000
#  fcst_date     __swio_field_timestamp__
#::
#
# Output grid type.
#
# Supported types are:
# - latlon: 2D/3D regular lat/lon spherical grid
# - none  : native (imported) grid/mesh
#
# output_grid_type: latlon
output_grid_type: none
#
# The following keywords are read only if grid
# type is 'latlon'
#
# Output grid size.
#
# Provides the lat/lon grid resolution as
#   #longitudes #latitudes [#levels]
#
# If #levels is missing, a 2D lat/lon grid will be built
#
# If #levels > 0, the minimum and maximum value of the
# vertical coordinate (km) will be read via the
# 'output_grid_level_range' keyword below.
#
# If #levels = 0, the grid's vertical levels are read
# from the 'output_grid_level_values' table (km)
#
# If #levels < 0, ungridded #nlevels will be added
#
output_grid_size: 360 181
#
